<header>
  <nav>
    <ul class="left">
      <%= link_to image_tag('logo.png'), movies_path %>
      <% approved_movie_scopes.each do |movie_scope| %>
        <li><%= nav_link_to(movie_scope.to_s.titleize, filtered_events_path(movie_scope)) %></li>
      <% end %>
    </ul>
    <ul class="right">
      <% if current_user %>
        <li><%= link_to current_user.name, current_user %></li>
        <li><%= link_to "Account Settings", edit_user_path(current_user) %></li>
        <li><%= link_to "Sign Out", signout_path, class: "button" %></li>
      <% else %>
        <li><%= link_to "Sign In", signin_path, class: "button"  %></li>
        <li><%= link_to "Sign Up", signup_path, class: "button" %></li>
      <% end %>
    </ul>
  </nav>
</header>
